# This file is only for local development
services:
  app:
    build: .
    command: >
        uvicorn app.main:sio_app
        --host 0.0.0.0 --port 8000
        --ssl-keyfile /project/certs/localhost+2-key.pem --ssl-certfile /project/certs/localhost+2.pem
        --reload
        --reload-dir /project/app
    ports:
      - "8000:8000"
    volumes:
      - ./app:/project/app
      - ./certs:/project/certs
    env_file:
      - .env
