# List your own dev-only dependencies in this file. After editing, run:
# python run.py deps compile
# This generates a series of requirements.txt files with all dependencies incl.
# sub-dependencies pinned (a 'lock' file).
#
# If you want to upgrade all packages to the latest version, run:
# python run.py deps upgrade

-r requirements.txt  # Don't delete this line
beautifulsoup4
pre-commit
pytest
pytest-mock
uv
watchfiles
