# These are the top level dependencies
# They could be used with a tool such as pip-tools or just manually:
# pip install requirements.in
# pip freeze > requirements.txt
fastapi[all]
jinja2
gunicorn
uvicorn[standard]
xlwings
