{% extends "base.html" %}

{% block content %}
  <div x-data="nameForm" class="container mt-4">
    <form>
      <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input
          id="firstName"
          type="text"
          class="form-control"
          :value="firstName"
          @input="handleInput"
          autocorrect="off" />
      </div>

      <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input
          id="lastName"
          type="text"
          class="form-control"
          :value="lastName"
          @input="handleInput"
          autocorrect="off" />
      </div>

      <p>Full Name</p>
      <div x-text="fullName"></div>
    </form>
  </div>
{% endblock content %}
