/* Styles for the resizable divider */
.resizer {
  height: 5px;
  background: #ccc;
  cursor: row-resize;
  position: relative; /* Add relative position for pseudo element */
}

.resizer::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px; /* Adjust width for a short line */
  height: 1px;
  background: #000;
}

#output {
  overflow: auto;
  font-family: monospace;
  white-space: nowrap;
  font-size: 0.75rem;
}

.nav-link.active {
  border-top: 4px solid green !important;
}
