{% extends "base.html" %}

{% block content %}
  <div class="container-fluid pt-3 ps-3">
    <h1>Example Task Pane</h1>
    <div class="mb-3 d-flex flex-column gap-2">
      <button xw-click="hello_world" xw-config='{"exclude": "MySheet"}' class="btn btn-primary btn-sm" type="button">
        Hello World
      </button>
      <button
        xw-click="setup_custom_functions"
        xw-config='{"exclude": "MySheet"}'
        class="btn btn-primary btn-sm"
        type="button">
        Insert custom functions
      </button>
    </div>
  </div>
{% endblock content %}
