{% extends "base.html" %}

{% block content %}
  <div class="container-fluid pt-3 ps-3">
    <h1>Example Task Pane</h1>
    <div class="mb-3 d-flex flex-column gap-2">
      <button xw-click="hello_world" xw-config='{"exclude": "MySheet"}' class="btn btn-primary btn-sm" type="button">
        Write 'Hello/Bye xlwings!' to A1
      </button>
      <button
        xw-click="setup_custom_functions"
        xw-config='{"exclude": "MySheet"}'
        class="btn btn-primary btn-sm"
        type="button">
        Insert sheet with custom functions
      </button>
      {% if not settings.enable_lite %}
        <button xw-click="show_alert" xw-config='{"exclude": "MySheet"}' class="btn btn-primary btn-sm" type="button">
          Show an alert
        </button>
      {% endif %}
      <button xw-click="show_plot" xw-config='{"exclude": "MySheet"}' class="btn btn-primary btn-sm" type="button">
        Insert a Matplotlib Plot
      </button>
      <button xw-click="show_error" xw-config='{"exclude": "MySheet"}' class="btn btn-primary btn-sm" type="button">
        Show an error message
      </button>
    </div>
  </div>
  <script type="text/javascript">
    async function main() {
      let pyodide = await loadPyodide();
      await pyodide.loadPackage("micropip");
      const micropip = pyodide.pyimport("micropip");
      await micropip.install(["xlwings", "python-dotenv", "pandas"]);
      return pyodide;
    }
    let pyodideReadyPromise = main();

    async function evaluatePython() {
      let pyodide = await pyodideReadyPromise;
      const response = await fetch("/xlwings/pyscript.json");
      const data = await response.json();
      const files = data["files"];

      function createDirectories(files) {
        const createdDirs = new Set();
        Object.values(files).forEach((localPath) => {
          const parts = localPath.split("/");
          if (parts.length > 1) {
            const dirPath = parts.slice(0, parts.length - 1).join("/");
            if (!createdDirs.has(dirPath)) {
              try {
                // TODO: does this work for nested dirs? Also, ./ is probably wrong
                if (dirPath !== ".") {
                  pyodide.FS.mkdir(dirPath);
                }
              } catch (err) {
                console.log(err);
              }
              try {
                if (dirPath !== ".") {
                  pyodide.FS.mount(pyodide.FS.filesystems.MEMFS, {}, dirPath);
                }
              } catch (err) {
                console.log(err);
              }
              createdDirs.add(dirPath);
            }
          }
        });
      }
      createDirectories(files);

      // Write all files
      for (const [endpoint, localPath] of Object.entries(files)) {
        const response = await fetch(endpoint);
        const content = await response.text();
        pyodide.FS.writeFile(localPath, content);
      }

      try {
        // Entrypoint
        let mainText = pyodide.FS.readFile("./main2.py", { encoding: "utf8" });
        await pyodide.runPythonAsync(mainText);
        // Functions
        const hello = pyodide.globals.get("hello");
        const result = hello();
        console.log(result);
      } catch (err) {
        console.log(err);
      }
    }
    evaluatePython();
  </script>
{% endblock content %}
