furo; python_version > '3.9'
sphinx; python_version > '3.9'
sphinx-copybutton; python_version > '3.9'
sphinx-design; python_version > '3.9'
sphinx-autobuild; python_version > '3.9'
myst-parser; python_version > '3.9'
