<!doctype html>
<html lang="en">
  <head hx-head="merge">
    {% block head %}
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>Task pane</title>
      <link rel="icon" type="image/png" href="{{ url_for('static', path='/images/favicon.png') }}" />
      {# xlwings Wasm #}
      {% if settings.enable_wasm and not settings.is_official_lite_addin %}
        <script src="{{ settings.pyodide_base_url.rstrip('/') }}/v0.27.5/full/pyodide.js"></script>
      {% endif %}
      {# Config #}
      <script type="module" src="{{ url_for('static', path='/js/config.js') }}"></script>
      {# htmx #}
      {% if settings.enable_htmx %}
        <script src="{{ url_for('static', path='/vendor/htmx.org/2.0.10/dist/htmx.min.js') }}"></script>
        <script src="{{ url_for('static', path='/vendor/htmx-ext-head-support/2.0.5/head-support.js') }}"></script>
        <script src="{{ url_for('static', path='/vendor/htmx-ext-loading-states/2.0.2/loading-states.js') }}"></script>
        <script type="module" src="{{ url_for('static', path='/js/integrations/htmx.js') }}"></script>
      {% endif %}
      <script src="{{ url_for('static', path='/js/officejs/history-fix-part1.js') }}"></script>
      {# Office.js #}
      {% if settings.cdn_officejs %}
        <script src="https://appsforoffice.microsoft.com/lib/1/hosted/office.js"></script>
      {% else %}
        <script src="{{ url_for('static', path='/vendor/@microsoft/office-js/1.1.110/dist/office.js') }}"></script>
      {% endif %}
      <script src="{{ url_for('static', path='/js/officejs/history-fix-part2.js') }}"></script>
      {# Socket.io (must come before custom-scripts) #}
      {% block socketio %}
        {% if settings.enable_socketio %}
          <script src="{{ url_for('static', path='/vendor/socket.io/4.8.3/client-dist/socket.io.min.js') }}"></script>
        {% endif %}
      {% endblock socketio %}
      {# xlwings.js (must come before custom-function-code) #}
      <script type="module" src="{{ url_for('static', path='/js/custom-scripts/index.js') }}"></script>
      {% block socketio2 %}
        {% if settings.enable_socketio %}
          {# Must come after xlwings.js #}
          <script type="module" src="{{ url_for('static', path='/js/integrations/socketio.js') }}"></script>
        {% endif %}
      {% endblock socketio2 %}
      {# Alpine.js CSP boilerplate (must come before custom JS, which must come before alpinejs library) #}
      {% if settings.enable_alpinejs_csp %}
        <script src="{{ url_for('static', path='/js/integrations/alpinejs-csp.js') }}"></script>
      {% endif %}
      {# JS Config #}
      {# prettier-ignore-start #}
      <script id="config" type="application/json">
        {{ settings.jsconfig|tojson }}
      </script>
      {# prettier-ignore-end #}
      <script src="{{ url_for('static', path='/js/officejs/taskpane-reload.js') }}"></script>
      <script src="{{ url_for('static', path='/js/auth.js') }}"></script>
      {% block custom_functions_code %}
        <script src="{{ url_for('custom_functions_code') }}" defer></script>
        {% if settings.environment == "dev" or settings.enable_wasm %}
          <script
            type="module"
            src="{{ url_for('static', path='/js/custom-functions/custom-functions-reload.js') }}"></script>
        {% endif %}
      {% endblock custom_functions_code %}
      {# Bootstrap with the xlwings theme #}
      {% if settings.enable_bootstrap %}
        <link
          rel="stylesheet"
          href="{{ url_for('static', path='/vendor/bootstrap-xlwings/5.3.3-2/dist/bootstrap-xlwings.min.css') }}" />
        <script src="{{ url_for('static', path='/vendor/bootstrap/5.3.8/dist/js/bootstrap.bundle.min.js') }}"></script>
        <script type="module" src="{{ url_for('static', path='/js/integrations/bootstrap.js') }}"></script>
      {% endif %}
      {# Axios #}
      <script src="{{ url_for('static', path='/vendor/axios/1.16.1/dist/axios.min.js') }}" defer></script>
      {# Examples #}
      {% if settings.enable_examples %}
        <script type="module" src="{{ url_for('static', path='/js/examples.js') }}"></script>
      {% endif %}
      {# Own #}
      <link rel="stylesheet" href="{{ url_for('static', path='/css/core.css') }}" />
      <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}" />
      <script type="module" src="{{ url_for('static', path='/js/main.js') }}"></script>
      <script src="{{ url_for('static', path='/js/ribbon.js') }}" defer></script>
      {% block hotreload %}
        {% if settings.environment == "dev" and settings.enable_socketio %}
          <script type="module" src="{{ url_for('static', path='/js/hotreload.js') }}"></script>
        {% endif %}
      {% endblock hotreload %}
      {% block extra_head %}
        {# This allows to selectively load Alpine.js components #}
      {% endblock extra_head %}
      {# Alpine.js CSP build (must come after integrations/alpinejs-csp.js and custom code such as main.js) #}
      {% if settings.enable_alpinejs_csp %}
        <script src="{{ url_for('static', path='/vendor/@alpinejs/csp/3.15.12/dist/cdn.min.js') }}" defer></script>
      {% endif %}
    {% endblock head %}
  </head>

  <body hx-ext="head-support">
    <div
      id="global-error-alert"
      class="alert alert-danger alert-dismissible fade show d-none z-index-1000"
      role="alert">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <span></span>
    </div>
    <div id="global-status-alert" class="alert alert-warning alert-dismissible fade show d-none" role="alert">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <span></span>
    </div>
    <div id="xlwings-office-ready-error" class="d-none">
      <div class="xlwings-office-ready-error-inner text-center">
        <div class="mb-3">The add-in didn't load properly.</div>
        <button type="button" class="btn btn-primary" id="xlwings-taskpane-reload-btn">Reload</button>
        <button type="button" class="btn btn-link" id="xlwings-taskpane-reload-cancel-btn">Cancel</button>
      </div>
    </div>
    {% block content %}
    {% endblock content %}
  </body>
</html>
