/* This fixes Alpine.js syntax such as "@" that would otherwise be highlighted in red */
.highlight .err {
  color: inherit !important;
  border: none !important;
}

body:not([data-theme="light"]) .highlight .err {
  color: inherit !important;
  background-color: transparent !important;
}
