<!doctype html>
<html lang="en">
  <head hx-head="merge">
    {% block head %}
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>Task pane</title>
      {# htmx #}
      {% if settings.enable_htmx %}
        <script src="{{ settings.app_path }}/static/vendor/htmx.org/dist/htmx.min.js"></script>
        <script src="{{ settings.app_path }}/static/vendor/htmx.org/dist/ext/head-support.js"></script>
        <script src="{{ settings.app_path }}/static/vendor/htmx.org/dist/ext/loading-states.js"></script>
        <script src="{{ settings.app_path }}/static/js/htmx-handlers.js" defer></script>
        <link rel="stylesheet" href="{{ settings.app_path }}/static/css/htmx.css" />
      {% endif %}
      <script src="{{ settings.app_path }}/static/js/utils/officejs-history-fix-part1.js"></script>
      {# Office.js #}
      {% if settings.public_addin_store %}
        <script src="https://appsforoffice.microsoft.com/lib/1/hosted/office.js"></script>
      {% else %}
        <script src="{{ settings.app_path }}/static/vendor/@microsoft/office-js/dist/office.js"></script>
      {% endif %}
      <script src="{{ settings.app_path }}/static/js/utils/officejs-history-fix-part2.js"></script>
      {# Socket.io (must come before xlwings.js) #}
      {% if settings.enable_socketio %}
        <script src="{{ settings.app_path }}/static/vendor/socket.io/client-dist/socket.io.min.js"></script>
      {% endif %}
      {# xlwings.js (must come before custom-function-code) #}
      <script src="{{ settings.app_path }}/static/vendor/xlwings/xlwingsjs/dist/xlwings.min.js"></script>
      {# Examples #}
      {% if settings.enable_examples %}
        <script src="{{ settings.app_path }}/static/js/examples.js" defer></script>
      {% endif %}
      {# Alpine.js CSP build (aplinejs-handlers must come first) #}
      {% if settings.enable_alpinejs_csp %}
        <script src="{{ settings.app_path }}/static/js/alpinejs-handlers.js" defer></script>
        <script src="{{ settings.app_path }}/static/vendor/@alpinejs/csp/dist/cdn.min.js" defer></script>
      {% endif %}
      {# Auth #}
      {% set auth_value = "entraid" if settings.entraid_client_id or settings.entraid_tenant_id else None %}
      <!-- prettier-ignore-start -->
      <script id="auth" type="application/json">
        { "auth": {{ auth_value|tojson }} }
      </script>
      <script id="app-path" type="application/json">
        { "appPath": {{ settings.app_path|tojson }} }
      </script>
      <!-- prettier-ignore-end -->
      <script src="{{ settings.app_path }}/static/js/auth.js"></script>
      {# Load Custom Functions #}
      <script src="{{ settings.app_path }}/xlwings/custom-functions-code" defer></script>
      {# Bootstrap with the xlwings theme #}
      <link rel="stylesheet" href="{{ settings.app_path }}/static/vendor/bootstrap-xlwings/bootstrap-xlwings.min.css" />
      <script src="{{ settings.app_path }}/static/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
      {# Own #}
      <link rel="stylesheet" href="{{ settings.app_path }}/static/css/style.css" />
      <script src="{{ settings.app_path }}/static/js/socketio-handlers.js" defer></script>
      <script src="{{ settings.app_path }}/static/js/main.js" defer></script>
      <script src="{{ settings.app_path }}/static/js/ribbon.js" defer></script>
      {% if settings.environment == "dev" %}
        <script src="{{ settings.app_path }}/static/js/utils/hotreload.js" defer></script>
      {% endif %}
    {% endblock head %}
    {% block extra_head %}
    {% endblock extra_head %}
  </head>

  <body hx-ext="head-support">
    <div
      id="global-error-alert"
      class="alert alert-danger alert-dismissible fade show d-none"
      role="alert"
      style="z-index: 1000;">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <span></span>
    </div>
    {% block content %}
    {% endblock content %}
  </body>
</html>
