<!doctype html>
<html lang="en">
  <head hx-head="merge">
    {% block head %}
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>Task pane</title>
      {# htmx #}
      {% if settings.enable_htmx %}
        <script src="{{ settings.static_url_path }}/vendor/htmx.org/dist/htmx.min.js"></script>
        <script src="{{ settings.static_url_path }}/vendor/htmx-ext-head-support/head-support.js"></script>
        <script src="{{ settings.static_url_path }}/vendor/htmx-ext-loading-states/loading-states.js"></script>
        <script src="{{ settings.static_url_path }}/js/core/htmx-handlers.js" defer></script>
      {% endif %}
      <script src="{{ settings.static_url_path }}/js/core/officejs-history-fix-part1.js"></script>
      {# Office.js #}
      {% if settings.public_addin_store %}
        <script src="https://appsforoffice.microsoft.com/lib/1/hosted/office.js"></script>
      {% else %}
        <script src="{{ settings.static_url_path }}/vendor/@microsoft/office-js/dist/office.js"></script>
      {% endif %}
      <script src="{{ settings.static_url_path }}/js/core/officejs-history-fix-part2.js"></script>
      {# Socket.io (must come before xlwings.js) #}
      {% if settings.enable_socketio %}
        <script src="{{ settings.static_url_path }}/vendor/socket.io/client-dist/socket.io.min.js"></script>
      {% endif %}
      {# xlwings.js (must come before custom-function-code) #}
      <script type="module" src="{{ settings.static_url_path }}/js/core/xlwingsjs/xlwings.js" defer></script>
      <script type="module" src="{{ settings.static_url_path }}/js/core/xlwingsjs/auth.js" defer></script>
      <script type="module" src="{{ settings.static_url_path }}/js/core/xlwingsjs/utils.js" defer></script>
      <script type="module" src="{{ settings.static_url_path }}/js/core/xlwingsjs/alert.js" defer></script>
      {# Alpine.js CSP boilerplate (must come before custom JS, which must come before alpinejs library) #}
      {% if settings.enable_alpinejs_csp %}
        <script src="{{ settings.static_url_path }}/js/core/alpinejs-csp-boilerplate.js" defer></script>
      {% endif %}
      {# JS Config #}
      <!-- prettier-ignore-start -->
      <script id="auth" type="application/json">
        { "auth": {{ settings.auth_providers|tojson }} }
      </script>
      <script id="app-path" type="application/json">
        { "appPath": {{ settings.app_path|tojson }} }
      </script>
      <script id="xlwings-version" type="application/json">
        { "xlwingsVersion": {{ settings.xlwings_version|tojson }} }
      </script>
      <!-- prettier-ignore-end -->
      <script src="{{ settings.static_url_path }}/js/auth.js"></script>
      {# Load Custom Functions #}
      <script src="{{ settings.app_path }}/xlwings/custom-functions-code" defer></script>
      {# Bootstrap with the xlwings theme #}
      {% if settings.enable_bootstrap %}
        <link
          rel="stylesheet"
          href="{{ settings.static_url_path }}/vendor/bootstrap-xlwings/dist/bootstrap-xlwings.min.css" />
        <script src="{{ settings.static_url_path }}/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{{ settings.static_url_path }}/js/core/bootstrap-customizations.js" defer></script>
      {% endif %}
      {# Examples #}
      {% if settings.enable_examples %}
        <script src="{{ settings.static_url_path }}/js/core/examples.js" defer></script>
      {% endif %}
      {# Own #}
      <link rel="stylesheet" href="{{ settings.static_url_path }}/css/core.css" />
      <link rel="stylesheet" href="{{ settings.static_url_path }}/css/style.css" />
      {% if settings.enable_socketio %}
        <script src="{{ settings.static_url_path }}/js/core/socketio-handlers.js" defer></script>
      {% endif %}
      <script src="{{ settings.app_path }}/xlwings/custom-scripts-sheet-buttons" defer></script>
      <script src="{{ settings.static_url_path }}/js/core/sheet-buttons.js" defer></script>
      <script src="{{ settings.static_url_path }}/js/main.js" defer></script>
      <script src="{{ settings.static_url_path }}/js/ribbon.js" defer></script>
      {% if settings.environment == "dev" and settings.enable_socketio %}
        <script src="{{ settings.static_url_path }}/js/core/hotreload.js" defer></script>
      {% endif %}
      {# Alpine.js CSP build (must come after alpinejs-csp-boilerplate.js and custom code such as main.js) #}
      {% if settings.enable_alpinejs_csp %}
        <script src="{{ settings.static_url_path }}/vendor/@alpinejs/csp/dist/cdn.min.js" defer></script>
      {% endif %}
    {% endblock head %}
    {% block extra_head %}
    {% endblock extra_head %}
  </head>

  <body hx-ext="head-support">
    <div
      id="global-error-alert"
      class="alert alert-danger alert-dismissible fade show d-none z-index-1000"
      role="alert">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <span></span>
    </div>
    {% block content %}
    {% endblock content %}
  </body>
</html>
