<!doctype html>
<html lang="en">
  <head>
    {% block head %}
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>{{ title }}</title>
      {# Load office.js, socket.io and xlwings.min.js. Socket.io must come before xlwings and custom-functions-code #}
      {% if settings.public_addin_store %}
        <script src="https://appsforoffice.microsoft.com/lib/1/hosted/office.js"></script>
      {% else %}
        <script src="/static/vendor/@microsoft/office-js/dist/office.js"></script>
      {% endif %}
      {# Socket.io #}
      <script src="/static/vendor/socket.io/client-dist/socket.io.min.js"></script>
      {# xlwings.js #}
      <script src="/static/vendor/xlwings/xlwings.min.js"></script>
      {# htmx #}
      <script src="/static/vendor/htmx.org/dist/htmx.min.js"></script>
      <script src="/static/vendor/htmx.org/dist/ext/head-support.js"></script>
      <script src="/static/vendor/htmx.org/dist/ext/loading-states.js"></script>
      <script src="/static/js/htmx-handlers.js" defer></script>
      {# Alpine.js CSP build #}
      <script src="/static/js/alpinejs-handlers.js" defer></script>
      <script src="/static/vendor/@alpinejs/csp/dist/cdn.min.js" defer></script>
      {# Auth #}
      {% set auth_value = "entraid" if settings.entraid_client_id or settings.entraid_tenant_id else null %}
      <script id="auth" type="application/json">
        { "auth": "{{ auth_value }}" }
      </script>
      <script src="/static/js/auth.js"></script>
      {# Load Custom Functions #}
      <script src="/xlwings/custom-functions-code" defer></script>
      {# Bootstrap with the xlwings theme #}
      <link rel="stylesheet" href="/static/vendor/bootstrap-xlwings/bootstrap-xlwings.min.css" />
      <script src="/static/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
      {# Own #}
      <link rel="stylesheet" href="/static/css/style.css" />
      <script src="/static/js/socketio-handlers.js" defer></script>
      <script src="/static/js/main.js" defer></script>
      <script src="/static/js/ribbon.js" defer></script>
      {% if settings.development %}
        <script src="/static/js/hotreload.js" defer></script>
      {% endif %}
    {% endblock head %}
    {% block extra_head %}
    {% endblock extra_head %}
  </head>

  <body>
    {% block content %}
    {% endblock content %}
  </body>
</html>
