<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Task Pane</title>
    {# Load office.js, socket.io and xlwings.min.js. Socket.io must come before xlwings and custom-functions-code #}
    {% if settings.public_addin_store %}
      <script src="https://appsforoffice.microsoft.com/lib/1/hosted/office.js"></script>
    {% else %}
      <script src="/static/vendor/@microsoft/office-js/dist/office.js"></script>
    {% endif %}
    <script src="/static/vendor/socket.io/client-dist/socket.io.min.js"></script>
    <script src="/static/vendor/xlwings/xlwings.min.js"></script>
    <script src="/static/js/init.js"></script>
    {# htmx #}
    <script src="/static/vendor/htmx.org/dist/htmx.min.js"></script>
    <script src="/static/vendor/htmx.org/dist/ext/head-support.js"></script>
    <script src="/static/vendor/htmx.org/dist/ext/loading-states.js"></script>
    {# Alpine.js CSP build #}
    <script defer src="/static/js/alpinejs-models.js"></script>
    <script defer src="/static/vendor/@alpinejs/csp/dist/cdn.min.js"></script>
    {# Load Custom Functions #}
    <script defer src="/xlwings/custom-functions-code"></script>
    {# Bootstrap with the xlwings theme #}
    <link rel="stylesheet" href="/static/vendor/bootstrap-xlwings/bootstrap-xlwings.min.css" />
    <script src="/static/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    {# Own #}
    <link rel="stylesheet" href="/static/css/style.css" />
    <script defer src="/static/js/main.js"></script>
    <script defer src="/static/js/htmx-behaviors.js"></script>
    {% if settings.development %}
      <script defer src="/static/js/hotreload.js"></script>
    {% endif %}
  </head>

  <body>
    <div class="container-fluid pt-3">
      {# Put a button on the task pane #}
      <button class="btn btn-primary btn-sm" type="button" data-js-hello>Hello World</button>
      <div x-data="bookName">Active Book Name: <span x-text="getName"></span></div>
    </div>
  </body>
</html>
